<div class = "container">

<h1>New Category</h1>

<%= render "form" %>

<!-- <%if @category.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %> -->

<hr>

<%= link_to "Return to categories", categories_path %>
</div>
