<!-- <%= content_for(:navbar) %> -->
<div class = "container">

<h1><%= @category.name %></h1>

<h4><%= @category.description %></h4> <hr>



<% if @category.projects.any? %>
  <h5>Here are the projects for this category:</h5>

  <ul>
    <% @category.projects.each do |project| %>
      <li>
        <%= project.title %> <br> <%= project.detail %> <br> <%= link_to project.url, project.url %> <br>
        <%= link_to "Alter", edit_category_project_path(@category, project) %> |
        <%= link_to "Destroy", category_project_path(@category, project),
                               :data => {:confirm => "Are you sure?",
                                         :method => "delete"} %>
      </li>
      <hr>
    <% end %>
  </ul>
  <hr>
<% else %>
  <p>
    There are no projects, yet.
  </p>
<% end %>

  <p>
    <%= link_to "Add a project", new_category_project_path(@category) %>
  </p> <hr>

<p>
  <%= link_to "Edit this category", edit_category_path(@category) %>
</p>
<p>
  <%= link_to "Delete this category", category_path(@category),
                        :data => {:confirm => "Are you sure?",
                                  :method => "delete"} %>
</p> <hr>
<p>
  <%= link_to "Return to categories", categories_path %>
</p>

</div>
